body {
  background: rgb(224, 223, 223);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: 35%;
  outline: 2px solid black;
  margin-left:50px;
}
.a {
  width:100%;
  height: 1in;
  text-align: center;
  outline: 1px solid #000000;
  background:red;
  margin: 10px;
}
.a h1 {
  text-align: center;
  display: center;
}
.b {
  width:100%;
  height: 4in;
  text-align: center;
  outline: 1px solid black;
  background: white;
  margin: 10px;
}
.c {
  width: 100%;
  height: 1in;
  text-align: center;
  outline: 1px solid black;
  background: blue;
  margin: 10px;
}

@media(min-width: 600px) {*/
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height:100%
    outline: 2px solid black;
    margin:5px;
  }
  .a {
    width:100%;
    height: 2in;
    outline: 1px solid #000000;
    text-align: center;
    background: red;
    margin:20px;
  }
  .b {
    width: 70%;
    height:100%;
    outline: 1px solid black;
    text-align:center;
    background: white;
    margin-left:20px;
  }
  .c {
    width:20%;
    height: 100%;
    outline: 1px solid black;
    text-align: center;
    background: blue;
    margin-right: 20px;
  }

@media (max-width: 600px) {
  body {
    height:100%;
  }
  .container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    height: 100%;
    margin:0;
  }
  .a, .c {
    width:100%;
    height:20%;
    margin:10px;

  }
  .b {
    width:100%;
    height: 200px;
    margin:10px;
  }
}